<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cellar">
      <ion-icon name="wine-outline" aria-hidden="true"></ion-icon>
      <ion-label>Cellar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hunt-list">
      <ion-icon name="compass-outline" aria-hidden="true"></ion-icon>
      <ion-label>Hunt List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dispatch">
      <ion-icon name="newspaper-outline" aria-hidden="true"></ion-icon>
      <ion-label>Dispatch</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="numbers">
      <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
      <ion-label>The Numbers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
