<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cellar">
      <ion-icon name="wine-outline" aria-hidden="true"></ion-icon>
      <ion-label>Cellar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hunt-list">
      <ion-icon name="compass-outline" aria-hidden="true"></ion-icon>
      <ion-label>Hunt List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dispatch">
      <ion-icon name="newspaper-outline" aria-hidden="true"></ion-icon>
      <ion-label>Dispatch</ion-label>
      @if (unreadCount() > 0) {
        <ion-badge color="primary">{{ unreadCount() > 99 ? '99+' : unreadCount() }}</ion-badge>
      }
    </ion-tab-button>

    <ion-tab-button tab="numbers">
      <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
      <ion-label>The Numbers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="social">
      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
