<div class="metric" [class.metric--has-action]="actionIcon()">
  @if (icon()) {
    <ion-icon class="metric__icon" [name]="icon()" aria-hidden="true"></ion-icon>
  }
  @if (actionIcon()) {
    <button
      type="button"
      class="metric__action"
      [attr.aria-label]="actionLabel()"
      (click)="action.emit()"
    >
      <ion-icon [name]="actionIcon()" aria-hidden="true"></ion-icon>
    </button>
  }
  <div class="metric__value">{{ value() }}</div>
  <div class="metric__label">{{ label() }}</div>
</div>
